{{ define "main" }}

{{- partial "back_link.html" . -}}

<header>
    <h1>404 Not Found</h1>

    <pre>
                           ____
                         (`    )_
                        (     )  )
                         `------'
                           '  '
        @...             `  `'
                          ' `  '
                         ` '  `           @...
                @...        ` ' '
                           ' '
                                @.~'

    @...


                        @...

         @.~'
    </pre>
</header>
{{ end }}
